.header {
    display: flex;
    justify-content: space-between;
    background-color:rgb(0,57,77);
    color:white;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    height: 100%;
    background-color: rgb(242,255,229);
}
.left {
    background-color: rgba(48, 14, 14, 0.712);
    width: 35%;
    margin: 50px;
    border-radius:20px;
}
.right {
        width: 65%;

}
.one {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color:rgba(48,14,14,0.712);
    border-radius:20px;
    }
.two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.three {
    height: 200px;
    width: 100%;
    background-color: rgba(48, 14, 14, 0.712);
    border-radius:20px;
    }
.inner1, .inner2, .inner3 {
    width: 400px;
    height: 180px;
    background-color: rgba(48, 14, 14, 0.712);
    border-radius:20px;
    margin-right: 50px;
}
.logo {
margin-left: 10px;
}
.search {
width: 100%;
padding: 0px;
margin: 20px;
}
.right, .three {
margin: 15px;
}
@media screen and (max-width: 480px) {
.two {
  flex-direction: column;
}
}
